<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/common.css">
</head>
<body>  
    
    <ul class="accordion-list">
        <li>
            <div class="ac-header">
                <p>질문을 작성해주세요. 한 줄 말줄임입니다.질문을 작성해주세요. 한 줄 말줄임입니다.</p>
                <img src="../assets/img/ico-dropdown.svg" alt="내용보기">
            </div>
            <div class="ac-cont">
                <p>
                    A. lorm6
                </p>
            </div>
        </li>
    </ul>

</body>
</html>