<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/common.css">
</head>
<body>  
    
    <div class="badgeBox">
        <div class="tag">
            <img src="../assets/img/ico-coin.png" alt width="16">
            <span class="value">16</span>
        </div>
        <!--____badge.html____-->
        <span class="badge ebadge-12">12시간마다</span>
        <!--____badge.html____-->
    </div>

    <div class="badgeBox">
        <div class="tag">
            <img src="../assets/img/ico-coin.png" alt width="18">
            <span class="value">18</span>
        </div>
        <!--____badge.html____-->
        <span class="badge ebadge-24">24시간마다</span>
        <!--____badge.html____-->
    </div>

    <div class="badgeBox">
        <div class="tag">
            <img src="../assets/img/ico-coin.png" alt width="18">
            <span class="value">18</span>
        </div>
        <!--____badge.html____-->
        <span class="badge ebadge-waiting">23:59:59</span>
        <!--____badge.html____-->
    </div>

</body>
</html>