<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/common.css">
</head>
<body>
    
    <div class="dimmedarea" id="dimmed">
        <div class="bottom-sheet">
            <div class="sheet-content">
                <h3>title<br>
                    title!</h3>
                <ul class="bottom">
                    <li>text</li>
                    <li>text</li>
                    <li>text</li>
                    <li>text</li>
                </ul>
                <div class="btn-box">
                    <!--____button.html____-->
                    <button type="submit" class="button primary startBtn">미션 바로 시작!</button>
                    <a href="#" class="close">오늘은 그만 볼래요</a>
                    <!--____button.html____-->
                </div>
            </div>
        </div>
    </div>

</body>
</html>