<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/common.css">
</head>
<body>  
    
    <li class="list">
        <a href="sub.html">
            <div class="thumb-area">
                <img src="../assets/img/dummy-prd.png" alt="TOO BAD G-DRAGON" />
            </div>
            <div class="info-area">
                <div class="txtBox">
                    <p class="title">TOO BAD</p>
                    <span class="artist">G-DRAGON</span>
                </div>
                <!--____badgeBox.html____-->
                <div class="badgeBox">
                    <!--____tag.html____-->
                    <div class="tag e-tag">
                        <span class="circle">P</span>
                        <span class="value">15</span>
                    </div>
                    <!--____tag.html____-->
                    <!--____badge.html____-->
                    <span class="badge ebadge-12">12시간마다</span>
                    <!--____badge.html____-->
                </div>
                <!--____badge.html____-->
            </div>
        </a>
    </li>
</body>
</html>