<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/common.css">
</head>
<body style="padding: 20px;">

    <div class="video-card">
        <div class="thumb-area">
            <img src="../assets/img/dummy-prd.png" alt="영상 썸네일" />
            <span class="duration">12분 34초 감상</span>
        </div>
        <div class="video-info">
            <div class="profile">
                <img src="../assets/img/dummy-prd03.png" alt="채널 프로필" />
            </div>
            <div class="text">
                <p class="title">2줄 말줄임 유튜브 영상 타이틀입니다. 유튜브 영상 타이틀입니다.유튜브 영상 타이틀입니다.유튜브 영상 타이틀입니다.유튜브 영상 타이틀입니다.</p>
                <p class="channel">1줄 말줄임 채널명입니다. 채널명입니다. 채널명입니다. 채널명입니다. 채널명입니다.</p>
                <div class="badgeBox">
                    <div class="tag">
                        <img src="../assets/img/ico-point.png" alt width="16">
                        <span class="value">16</span>
                    </div>
                    <!--____badge.html____-->
                    <span class="badge ebadge-12">12시간마다</span>
                    <!--____badge.html____-->
                </div>
            </div>
        </div>
    </div>
    <div class="video-card">
        <div class="thumb-area">
            <img src="../assets/img/dummy-prd.png" alt="영상 썸네일" />
            <span class="duration">12분 34초 감상</span>
        </div>
        <div class="video-info">
            <div class="profile">
                <img src="../assets/img/dummy-prd03.png" alt="채널 프로필" />
            </div>
            <div class="text">
                <p class="title">2줄 말줄임 유튜브 영상 타이틀입니다. 유튜브 영상 타이틀입니다.유튜브 영상 타이틀입니다.유튜브 영상 타이틀입니다.유튜브 영상 타이틀입니다.</p>
                <p class="channel">1줄 말줄임 채널명입니다. 채널명입니다. 채널명입니다. 채널명입니다. 채널명입니다.</p>
                <div class="badgeBox">
                    <div class="tag">
                        <img src="../assets/img/ico-point.png" alt width="16">
                        <span class="value">16</span>
                    </div>
                    <!--____badge.html____-->
                    <span class="badge ebadge-24">24시간마다</span>
                    <!--____badge.html____-->
                </div>
            </div>
        </div>
    </div>

</body>
</html>