<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/common.css">
</head>
<body>  
    

    <div class="popup-dimmed" style="display: none;">
        <div class="popup">
            <div class="popup-header">
                <h3>타이틀 입력</h3>
            </div>
            <div class="popup-body">
                <p>설명글을 입력해주세요.</p>
                <p>이미지영역</p>
            </div>
            <div class="popup-btn">
                <button class="button primary">primary</button>
            </div>
        </div>
    </div>


    <div class="popup-dimmed" style="display: none;">
        <div class="popup type2">
            <div class="popup-header">
                <h3>작성 내용이 저장되지 않아요</h3>
            </div>
            <div class="popup-body">
                <p>
                    <span>영업일 기준 하루</span> 안에 이메일로 답변 드려요.<br>
                    조금만 기다려주세요!
                </p>
                <p>이미지영역</p>
            </div>
            <div class="popup-btn">
                <button class="button primary">primary</button>
                <button class="button second">second</button>
            </div>
        </div>
    </div>



    <div class="popup-dimmed">
        <div class="popup type2">
            <div class="popup-header">
                <h3>작성 내용이 저장되지 않아요</h3>
            </div>
            <div class="popup-body">
                <p>
                    <span>영업일 기준 하루</span> 안에 이메일로 답변 드려요.<br>
                    조금만 기다려주세요!
                </p>
                <p>이미지영역</p>
            </div>
            <div class="popup-btn">
                <button class="button primary">primary</button>
                <button class="button second">second</button>
            </div>
        </div>
    </div>


</body>
</html>