<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/common.css">
</head>
<body>  

    
    <div class="progress-bar-wrap">
        <!-- 시작 -->
        <div class="progress-bar">
          <div class="thumb"></div>
        </div>
        <!-- 중간 -->
        <div class="progress-bar progress">
            <div class="thumb"></div>
        </div>
        <!-- 끝 -->
        <div class="progress-bar filled">
          <div class="thumb"></div>
        </div>
    </div>


</body>
</html>