<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/common.css">
</head>
<body>  
    
  <div class="swiper tab-swiper" role="tablist">
    <div class="swiper-wrapper">
      <div class="swiper-slide tab-item">
        <button class="tab active" role="tab" aria-selected="true">전체</button>
      </div>
      <div class="swiper-slide tab-item">
        <button class="tab" role="tab" aria-selected="false">휴식</button>
      </div>
      <div class="swiper-slide tab-item">
        <button class="tab" role="tab" aria-selected="false">집중</button>
      </div>
      <div class="swiper-slide tab-item">
        <button class="tab" role="tab" aria-selected="false">운동</button>
      </div>
      <div class="swiper-slide tab-item">
        <button class="tab" role="tab" aria-selected="false">행복한 기분플리</button>
      </div>
      <div class="swiper-slide tab-item">
        <button class="tab" role="tab" aria-selected="false">집중</button>
      </div>
      <div class="swiper-slide tab-item">
        <button class="tab" role="tab" aria-selected="false">운동</button>
      </div>
      <div class="swiper-slide tab-item">
        <button class="tab" role="tab" aria-selected="false">행복한 기분플리</button>
      </div>
      <div class="swiper-slide tab-item">
        <button class="tab" role="tab" aria-selected="false">집중</button>
      </div>
      <div class="swiper-slide tab-item">
        <button class="tab" role="tab" aria-selected="false">운동</button>
      </div>
      <div class="swiper-slide tab-item">
        <button class="tab" role="tab" aria-selected="false">행복한 기분플리</button>
      </div>
    </div>
</div>
      
</body>
</html>