<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/common.css">
</head>
<body>  

    <!--~~~~~~~~~~컬처랜드 coin ~~~~~~~~~~-->
    <!-- (1) 16px -->
    <div class="tag">
        <img src="../assets/img/ico-coin.png" alt width="16">
        <span class="value">16</span>
    </div>
    
    <!-- (2) 18px -->
    <div class="tag">
        <img src="../assets/img/ico-coin.png" alt width="18">
        <span class="value">18</span>
    </div>

    <!--~~~~~~~~~~에브리클릭 point ~~~~~~~~~~-->
    <!-- (1) 16px -->
    <div class="tag">
        <img src="../assets/img/ico-point.png" alt width="16">
        <span class="value">16</span>
    </div>

    <!-- (2) 18px -->
    <div class="tag">
        <img src="../assets/img/ico-point.png" alt width="18">
        <span class="value">18</span>
    </div>
    
    <!--~~~~~~~~~~캐시슬라이드 cash ~~~~~~~~~~-->
    <!-- (1) 16px -->
    <div class="tag">
        <img src="../assets/img/ico-cash.png" alt width="16">
        <span class="value">16</span>
    </div>

    <!-- (2) 18px -->
    <div class="tag">
        <img src="../assets/img/ico-cash.png" alt width="18">
        <span class="value">18</span>
    </div>


</body>
</html>